<div class="page-title">
  <h1>Mantenimientos</h1>
</div>
<div class="breadcrumbs">
  <a href="/">Inicio</a> &gt;<span>Mantenimientos</span>
</div>
<div class="card white-card">
  <div id="form_header">
    <h2>Lista de Mantenimientos</h2>
    <div class="filter-add-container">
      <mat-form-field appearance="outline">
        <mat-label>Buscar Mantenimiento</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Buscar mantenimiento"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="sticky-header">Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <!-- Descripcion Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef class="sticky-header">
          Descripción
        </th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>

      <!-- Direccion Column -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef class="sticky-header">
          Dirección
        </th>
        <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
      </ng-container>

      <!-- FechaRegistro Column -->
      <ng-container matColumnDef="fechaRegistro">
        <th mat-header-cell *matHeaderCellDef class="sticky-header">
          Fecha Registro
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaRegistro | date : "short" }}
        </td>
      </ng-container>

      <!-- Costo Column -->
      <ng-container matColumnDef="costo">
        <th mat-header-cell *matHeaderCellDef class="sticky-header">Costo</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.costo !== 0
              ? (element.costo | currency)
              : "Sin Costo Asignado"
          }}
        </td>
      </ng-container>

      <!-- EstadoPago Column -->
      <ng-container matColumnDef="estadoPago">
        <th mat-header-cell *matHeaderCellDef class="sticky-header">
          Estado del Pago
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.estadoPago }}
        </td>
      </ng-container>

      <!-- Finalizado Column -->
      <ng-container matColumnDef="finalizado">
        <th mat-header-cell *matHeaderCellDef class="sticky-header">
          Finalizado
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.finalizado ? "Sí" : "No" }}
        </td>
      </ng-container>

      <!-- FechaFin Column -->
      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef class="sticky-header">
          Fecha Fin
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaFin | date : "short" }}
        </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef class="sticky-header">
          Acciones
        </th>
        <td mat-cell *matCellDef="let element" class="actions-cell">
          <div class="actions-container">
            <ng-container *ngIf="element.finalizado">
              <button
                mat-icon-button
                matTooltip="Ver Comentarios"
                (click)="openComentariosDialog(element)"
              >
                <mat-icon>comment</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="!element.finalizado">
              <ng-container
                *ngIf="
                  element.estadoPago === 'Pagado' &&
                  element.costo !== 0 &&
                  !element.finalizado
                "
              >
                <button
                  mat-icon-button
                  matTooltip="Finalizar Mantenimiento"
                  (click)="finalizarMantenimiento(element)"
                >
                  <mat-icon>done</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Ver Comentarios"
                  (click)="openComentariosDialog(element)"
                >
                  <mat-icon>comment</mat-icon>
                </button>
              </ng-container>
              <ng-container
                *ngIf="
                  element.costo === 0 &&
                  element.estadoPago === 'Sin Costo Asignado'
                "
              >
                <button
                  mat-icon-button
                  matTooltip="Aceptar Mantenimiento"
                  (click)="openAceptMantenimientoDialog(element)"
                >
                  <mat-icon>thumb_up</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Rechazar Mantenimiento"
                  (click)="rechazarMantenimiento(element)"
                >
                  <mat-icon>thumb_down</mat-icon>
                </button>
              </ng-container>
              <ng-container
                *ngIf="
                  element.costo !== 0 && element.estadoPago === 'Pendiente'
                "
              >
                <button
                  mat-icon-button
                  matTooltip="Cancelar Servicio"
                  (click)="cancelarServicio(element)"
                >
                  <mat-icon>cancel</mat-icon>
                </button>
              </ng-container>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="sticky-header"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<ng-template #aceptMantenimientoDialog>
  <div class="modal-content">
    <div class="modal-body">
      <div class="card" id="registerForm">
        <div id="form_header">
          <h2>Registrar Costo</h2>
        </div>
        <form [formGroup]="costoForm" (ngSubmit)="registrarCosto()">
          <div class="input-box">
            <label for="costo">Costo</label>
            <div class="input-field">
              <i class="fa-solid fa-dollar-sign"></i>
              <input type="number" id="costo" formControlName="costo" />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="closeDialog()"
            >
              Cancelar
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="costoForm.invalid"
            >
              Registrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #comentariosDialog>
  <div class="modal-content fixed-size">
    <div class="modal-header">
      <h2>Comentarios</h2>
    </div>
    <div class="modal-body scrollable-cards-container">
      <div
        class="card blue-card"
        *ngFor="let comentario of selectedComentarios"
      >
        <div class="card-body">
          <p>{{ comentario.descripcion }}</p>
          <p>{{ comentario.fecha | date : "short" }}</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="dialogRef.close()"
      >
        Cerrar
      </button>
    </div>
  </div>
</ng-template>
