<div class="page-title">
  <h1>Registro</h1>
</div>
<div class="breadcrumbs"><a href="/">Inicio</a> &gt; <span>Registro</span></div>
<div class="body">
  <main id="container">
    <div class="card">
      <!-- CARD HEADER -->
      <div id="card_header">
        <h1>Regístrate Fácilmente</h1>
      </div>
      <div class="card-body">
        <h5>
          ¿Se desea registrar como empresa de mantenimiento o como cliente?
        </h5>
        <div class="row">
          <div class="col-md-6">
            <mat-card
              class="mantenimiento"
              appearance="outlined"
              routerLink="/registro-empresa"
            >
              <mat-card-header>
                <h6>Empresa de mantenimiento</h6>
              </mat-card-header>
              <img
                mat-card-image
                src="../../../assets/empresa.gif"
                alt="Empresa"
              />
              <mat-card-content>
                <p>
                  Registra tu propia empresa para poder brindar diversos tipos
                  de mantenimientos a tus clientes.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-6">
            <mat-card
              class="cliente"
              appearance="outlined"
              routerLink="/registro-cliente"
            >
              <mat-card-header>
                <h6>Cliente</h6>
              </mat-card-header>
              <img
                mat-card-image
                src="../../../assets/cliente.gif"
                alt="Cliente"
              />
              <mat-card-content>
                <p>
                  Regístrate como cliente para poder solicitar los
                  mantenimientos que necesites en tus empresas favoritas.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
