/* General */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 10px;
}

.card {
    display: flex;
    width: 100%;
    max-width: 900px;
    flex-direction: column;
    background-color: #f8fafc;
    padding: 20px 30px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    animation: dark-to-light-background 0.3s ease-in-out;
}

/* Form Header */
#card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#card_header h1 {
    font-size: 40px;
    position: relative;
}

#card_header h1::before {
    position: absolute;
    content: '';
    width: 95%;
    height: 3px;
    background-color: #7ba4ad;
    bottom: 4px;
    border-radius: 5px;
}

.card-body{
    margin-top: -15px;
}


mat-card{
    margin: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    animation: dark-to-light-background 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card:hover {
    transform: scale(1.05);
}

h5, h6{
    color: #334463;
}

p{
    text-align: justify;
}

img{
    max-height: 150px;
    height: max-content;
}
