// variables

$color-main:rgb(108,99,255);
$color-text:rgb(243, 239, 239);
$color-title-card: rgb(177, 177, 22);
$text-color-nav: azure;
$color-text-form:rgb(243, 239, 239);
$text-shadow: 2px 4px 5px rgb(108,99,255);
$color-text-home: rgba(0, 0, 0, 0.945);